body {
  width: 100%;
  height: 100%;
}

ul,
li {
  padding: 0;
  margin: 0;
}
.nav-top {
  width: 100%;
  height: 50px;
  background-color: rgb(38, 38, 38);
  line-height: 50px;
}
.nav-bot {
  width: 100%;
  top: 50px !important;
  height: 60px;
  background-color: rgb(215, 223, 239);
}
